extends ../layout_admin

block content
    .row
        include ./sidebar_admin

        .col.s8
            .row

                form.col.s12(name="textInf")
                    .row
                        .input-field.col.s12
                            input#book_title(type='text', name='book_title')
                            label(for='title') Название
                    .row
                        .input-field.col.s12
                            input#author(type='text', name='author')
                            label Автор

                    .row
                        .input-field.col.s4
                            input#book_type(type='text', name='book_type')
                            label Тип книги
                        .input-field.col.s4
                            input#year_pub(type='text', name='year_pub')
                            label(for='title') Год издания
                        .input-field.col.s4
                            input#book_lang(type='text', name='book_lang')
                            label Язык книги
                    .row
                        .col.s12
                            input(type="submit", value="Обновить", class="btn btn-success")

        script.
            $(document.forms['textInf']).on('submit', function () {
                var form = $(this);
                $('.error', form).html('');
                $(":submit", form).text("loading");
                $.ajax({
                    url: "/book/edit",
                    method: "POST",
                    data: form.serialize(),
                    complete: function () {
                        $(":submit", form).text("Добавить");
                    },
                    statusCode: {
                        200: function () {
                            form.html("Данные успешно обновлены").addClass('alert-success');
                            window.location.href = "/book";
                        },
                        403: function (jqXHR) {
                            var error = JSON.parse(jqXHR.responseText);
                            $('.error', form).html(error.message);
                        }
                    }
                });
                return false;
            });