extends ../layout_admin
block content
    .row
        include ./sidebar_admin
        .col.s8
            .row
                .col.s12
                    form(method='post', enctype='multipart/form-data', action='/upload/thumb')
                        input(type='file', name='img')
                        input(type='submit', value='Загрузить обложку')