.col.s4
    .row
        .col.s12
            .collection
                a.collection-item(href='/articles') Статьи
                    i.material-icons.left description
                a.collection-item(href='/requirements') Правила оформления
                    i.material-icons.left error_outline
                a.collection-item(href='/compositions') Состав ред. коллегии
                    i.material-icons.left supervisor_account
                a.collection-item(href='/print_years') Годы выпуска
                    i.material-icons.left date_range
                a.collection-item(href='/print_rel') Номер выпуска
                    i.material-icons.left extension
                a.collection-item(href='/sections') Направления
                    i.material-icons.left reorder
                a.collection-item(href='/upload') Файлы
                    i.material-icons.left attach_file
                a.collection-item(href='/users') Пользователи
                    i.material-icons.left perm_identity
    .row
        .col.s12
    .row
        .col.s12