.col.s4
    .row
        .col.s12
            ul.left.hide-on-med-and-down
                li
                    a(href='/book') Книги
                li
                    a(href='/upload') Файлы
                li.active
                    a(href='/users') Пользователи
    .row
        .col.s12
    .row
        .col.s12