.col.s4
    .row
        .col.s12
            .collection
                a.collection-item(href='/book') Книги
                    i.material-icons.left library_books
                a.collection-item(href='/requirements') Правила оформления
                    i.material-icons.left error_outline
                a.collection-item(href='/compositions') Состав ред. коллегии
                    i.material-icons.left supervisor_account
                a.collection-item(href='/upload') Файлы
                    i.material-icons.left attach_file
                a.collection-item(href='/users') Пользователи
                    i.material-icons.left perm_identity

    .row
        .col.s12
    .row
        .col.s12