footer.page-footer.indigo.darken-4
    .footer-copyright
        .container.ft
            span
                | Copyright &copy; 2016&nbsp;
                a.grey-text.text-lighten-4(href='http://bafe.edu.kg' target='_blank') BAFE&nbsp;
                | All rights reserved.
            span.right
                | Design and Developed by&nbsp;
                a.grey-text.text-lighten-4(href='http://bafe.edu.kg') RE.

<!-- Materialize JavaScript -->
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')

script.
    $(document).ready(function(){
        //Activeate side menu
        $(".button-collapse").sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });
        $('.collapsible').collapsible();
        $('select').material_select();
    });

