nav.indigo.darken-4(role='navigation')
    ul.right.hide-on-med-and-down
        li
            a(href='#') Главная
        li
            a.dropdown-button(href='#!', data-activates='dropdown1')
                | Книги
                i.material-icons.right arrow_drop_down
        li
            a(href='/login' target='_blank')
                i.material-icons exit_to_app
        // Dropdown Trigger

    ul#dropdown1.dropdown-content
        li
            a(href='#!') Монографии
        li
            a(href='#!') Научные статьи
        li.divider
        li
            a(href='#!') Методички

    ul#slide-out.side-nav
            //li.logo
            //    a#logo-container.brand-logo(href='http://materializecss.com/')
            //        img(src='http://materializecss.com/res/materialize.svg')
            li.bold
                a.waves-effect.waves-teal(href='#!') О нас
            li.bold
                a.waves-effect.waves-teal(href='#!') Введение
            li.no-padding
                ul.collapsible.collapsible-accordion
                    li.bold
                        a.collapsible-header.waves-effect.waves-teal CSS
                        .collapsible-body(style='')
                            ul
                                li
                                    a(href='#!') Цвет
                                li
                                    a(href='#!') Grid
                                li
                                    a(href='#!') Helpers
                                li
                                    a(href='#!') Media
                                li
                                    a(href='#!') Sass
                                li
                                    a(href='#!') Shadow
                                li
                                    a(href='#!') Table
                                li
                                    a(href='#!l') Typography
                    li.bold.active
                        a.collapsible-header.active.waves-effect.waves-teal Components
                        .collapsible-body(style='display: block;')
                            ul
                                li
                                    a(href='#!') Badges
                                li
                                    a(href='#!') Buttons
                                li
                                    a(href='#!') Breadcrumbs
                                li
                                    a(href='#!') Cards
                                li
                                    a(href='#!') Chips
                                li
                                    a(href='#!') Collections
                                li
                                    a(href='#!') Footer
                                li
                                    a(href='#!') Forms
                                li.active
                                    a(href='#!') Icons
                                li
                                    a(href='#!') Navbar
                                li
                                    a(href='#!') Pagination
                                li
                                    a(href='#!') Preloader
                    li.bold
                        a.collapsible-header.waves-effect.waves-teal JavaScript
                        .collapsible-body(style='')
                            ul
                                li
                                    a(href='#!') Collapsible
                                li
                                    a(href='#!') Dialogs
                                li
                                    a(href='#!') Dropdown
                                li
                                    a(href='#!') Media
                                li
                                    a(href='#!') Modals
                                li
                                    a(href='#!') Parallax
                                li
                                    a(href='#!') Pushpin
                                li
                                    a(href='#!') ScrollFire
                                li
                                    a(href='#!') Scrollspy
                                li
                                    a(href='#!') SideNav
                                li
                                    a(href='#!') Tabs
                                li
                                    a(href='#!') Transitions
                                li
                                    a(href='#!') Waves
            li.bold
                a.waves-effect.waves-teal(href='#!') Mobile
            li.bold
                a.waves-effect.waves-teal(href='#!') Примеры сайтов

        a.button-collapse.show-on-large(href='#', data-activates='slide-out')
            i.large.material-icons reorder
