nav.teal.lighten-1(role='navigation')
    a.brand-logo(href="/")
        img(src="/img/logo.png")
    ul.right.hide-on-med-and-down
        li
            a(href='/') Главная
        li
            a(href='/login' target='_blank')
                i.material-icons exit_to_app
