extends layout

block content
    .container.main-page
        .row
            .col.s4
                .collection
                    a.collection-item.active(href='#!') Состав ред. коллегии
					a.collection-item(href='#!') Правила оформления
					a.collection-item(href='#!') Архив
					a.collection-item(href='#!') Поиск
            .col.s8
                each mb, i in books
                    .col.s4
                        .card
                            .card-image.waves-effect.waves-block.waves-light
                                img.activator(src='#{mb.image}')
                            .card-content
                                span.card-title.activator.grey-text.text-darken-4
                                    | #{mb.book_title}
                                    i.material-icons.right more_vert
                                p
                                    a(href='#{mb.downloadLink}') Скачать
                            .card-reveal
                                span.card-title.grey-text.text-darken-4
                                    | #{mb.book_title}
                                    i.material-icons.right close
                                p
                                    | Here is some more information about this product that is only revealed once clicked on.
