.collection
    a.collection-item.active(href='/sostav') Состав ред. коллегии
    a.collection-item(href='/trebovaniya') Правила оформления
    a.collection-item(href='#!') Архив
    a.collection-item(href='#!') Поиск


div(align='center')
    div(style='text-align: center;')
        strong Э
        strong КОНОМИКА ·
        strong  У
        strong ПРАВЛЕНИЕ ·
        strong  О
        strong БРАЗОВАНИЕ
div(style='text-align: center;') Международный экономический научный журнал
div(style='text-align: center;') выпускается ежеквартально основан в 2015г.
div(style='text-align: center;')
    strong Учредитель:
    |  Бишкекская Финансово-Экономическая Академия
div(style='text-align: center;')  
div(style='text-align: center;', align='center') Журнал зарегистрирован в Министерстве юстиции  Кыргызской Республики
div(style='text-align: center;', align='center') Регистрационный номер № 2062 от 26 декабря 2014г.
div(style='text-align: center;', align='center') ISSN 1694 - 7738
