.collection
    a.collection-item.active(href='/sostav') Состав ред. коллегии
    a.collection-item(href='/trebovaniya') Правила оформления

ul.collapsible(data-collapsible="expandable")
    li
        .collapsible-header
            i.material-icons book
            | 2016
        .collapsible-body(style='display: none; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;')
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    li
        .collapsible-header
            i.material-icons book
            | 2015
        .collapsible-body(style='display: none; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;')
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    li
        .collapsible-header
            i.material-icons book
            | 2014
        .collapsible-body(style='display: none; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;')
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.



div(align='center')
    div(style='text-align: center;')
        strong ЭКОНОМИКА ·
        strong  УПРАВЛЕНИЕ ·
        strong  ОБРАЗОВАНИЕ
div(style='text-align: center;') Международный экономический научный журнал
div(style='text-align: center;') выпускается ежеквартально основан в 2015г.
div(style='text-align: center;')
    strong Учредитель:
    |  Бишкекская Финансово-Экономическая Академия
div(style='text-align: center;')  
div(style='text-align: center;', align='center') Журнал зарегистрирован в Министерстве юстиции  Кыргызской Республики
div(style='text-align: center;', align='center') Регистрационный номер № 2062 от 26 декабря 2014г.
div(style='text-align: center;', align='center') ISSN 1694 - 7738
