.collection
    a.collection-item(href='/sostav') Состав ред. коллегии
    a.collection-item(href='/trebovaniya') Требования к оформлению статей

ul.collapsible(data-collapsible="expandable")
    li
        .collapsible-header.teal.lighten-2.white-text
            i.material-icons.white-text view_module
            | 2015
        .collapsible-body(style='display: none; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;')
            .collection
                a.collection-item(href='/release/1/2015') Выпуск №1
                a.collection-item(href='/release/2/2015') Выпуск №2