extends layout
block content
    .container.main-page
        .row
            .col.s4
                include main_sidebar
            .col.s8
                .row
                    .col.s6
                        .card.z-depth-3.article-list-box
                            p #{title}