body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container.main-page {
  width: 95%;
}
.container-inner-books {
  width: 70%;
  margin: auto;
}
.container.ft {
  width: 85%;
}

i.material-icons.md-light {
  color: #fff;
}